.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px auto;
    width: 90%;
    max-width: 1470px;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: white;
}

.categoryName {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
}

.categoryList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.categoryButtons {
    width: 100%;
    max-width: 347.5px;
    height: 285px;
    margin: 10px;
    background-color: white;
    border-radius: 8px;
    border-color: lightgray;
    box-shadow: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.categoryButtons:active,
.categoryButtons:focus {
    box-shadow: 0px 0px 0px transparent;
}

.categoryButtons_down {
    width: 100%;
    max-width: 470px;
    height: 447px;
    margin: 10px;
    background-color: #F7F7F7;
    border-radius: 8px;
    border-color: white;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.categoryButtons_down:active,
.categoryButtons:focus {
    box-shadow: 0px 0px 0px transparent;
}

.categoryButton_downImage {
    width: 100%;
    max-width: 300px;
    height: auto;
    transition: filter 0.4s ease, box-shadow 0.4s ease, transform 0.4s ease;
}

.categoryButton_downImage:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    transform: rotate(-1.5deg) scale(1.067);
}

.containerButtons {
    margin-top: 20px;
}

/* Адаптивність для різних розмірів екранів */
@media (max-width: 1200px) {
    .categoryList {
        flex-direction: column;
        align-items: center;
    }
    
    .categoryButtons,
    .categoryButtons_down {
        width: 90%;
    }
}

@media (max-width: 768px) {
    .category {
        margin-left: 0;
        width: 100%;
    }
    
    .categoryButtons {
        max-width: 100%;
        height: auto;
    }
    
    .categoryButtons_down {
        max-width: 100%;
        height: auto;
    }
    
    .categoryButton_downImage {
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .categoryName {
        font-size: 16px;
    }
    
    .categoryButtons {
        width: 100%;
        height: auto;
    }
    
    .categoryButtons_down {
        width: 100%;
        height: auto;
    }
    
    .categoryButton_downImage {
        max-width: 100%;
        height: auto;
    }
}
